@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Old Standard TT', serif;
}
body{
    height: 100vh;
}
.top-nav{
    position: absolute;
    z-index: 1;
    top: 0;
}
.nav-link{
    padding: 0.5rem 1.1rem !important;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    
}
.nav-link::before{
    content: attr(data-text);
}
.nav-link.current-page{
    color: none;
    background-image: url(../img/wave.png);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animateWave 2s linear infinite;
    transition: 0.5s;
}
.nav-link:hover::before{
    background-image: url(../img/wave.png);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animateWave 2s linear infinite;
    transition: 0.5s;
}
@keyframes animateWave {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 200px;
    }
}
.home{
    background-color: #030303;
}
#particles-js{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    width: 100%; */

}
.particles-js-canvas-el{
    position: absolute;
}
.intro-txt{
    color: rgba(255, 255, 255, 0.2);
}
.name{
    color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(90deg,#030303,#fff,#030303);
    font-size: 100px;
    font-weight: bold;
    -webkit-background-clip: text;
    text-transform: uppercase;
    animation: animationTxt 12s ease-in-out infinite;
}
@keyframes animationTxt {
    0%{
        background-position: -1000px;
    }
    100%{
        background-position: 1000px;
    }
}
.social-accounts{
    position: absolute;
    bottom: 80px;
    right: 40px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}
.social-accounts a{
    position: relative;
    background: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* line-height: 25px; */
    text-decoration: none;
    color: #666;
    margin-bottom: 15px;
    transition: 0.5s;
}
.social-accounts a::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}
/* background */
.social-accounts a:nth-child(1)::before{
    background-color: #355ba6;
}
.social-accounts a:nth-child(2)::before{
    background-color: #0072b1;
}
.social-accounts a:nth-child(3)::before{
    background-color: #00ff00;
}
.social-accounts a:nth-child(4)::before{
    background-color: #FBBC05;
}
.social-accounts a:hover::before{
    filter: blur(3px);
    transform: scale(1.2);

}
/* icon */
.social-accounts a:nth-child(1):hover::before{
    box-shadow: 0 0 15px #355ba6;
}
.social-accounts a:nth-child(2):hover::before{
    box-shadow: 0 0 15px #0072b1;
}
.social-accounts a:nth-child(3):hover::before{
    box-shadow: 0 0 15px #00ff00;
}
.social-accounts a:nth-child(4):hover::before{
    box-shadow: 0 0 15px #FBBC05;
}
.social-accounts a:nth-child(1):hover{
    color: #456cba;
    box-shadow: 0 0 15px #355ba6;
    text-shadow: 0 0 15px #355ba6;
}
.social-accounts a:nth-child(2):hover{
    color: #2a6cbb;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 15px #4267B2;
}
.social-accounts a:nth-child(3):hover{
    color: #1daa1d;
    box-shadow: 0 0 15px #00ff00;
    text-shadow: 0 0 15px #00ff00;
}
.social-accounts a:nth-child(4):hover{
    color: #d8aa1d;
    box-shadow: 0 0 15px #FBBC05;
    text-shadow: 0 0 15px #FBBC05;
}
.scroll-to-next{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.scroll-to-next-text{
    color: rgba(255, 255, 255, 0.2);
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
}
.scroll-to-next-icon{
    transform: rotate(-45deg);
}
.about{
    background-color: #040404;
    position: relative;
    overflow: hidden;
}
.about-image{
    position: relative;
    width: 300px;
    height: 300px;
    background: radial-gradient(300px,#47c74b8c,transparent 50%);

}
.computer-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 220px;
}
.skills{
    height: 100%;
    animation: rotation 200s linear infinite;
}
.skills-img{
    width: 40px;
    height: auto;
    position: absolute;
    border: 1px solid #47c74b8c;
    padding: 3px;
    border-radius: 50%;
    
}
.skills-img:hover{
    background-color: #47c74b8c;
}
@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}
.skills-img:nth-child(1){
    top: 0;
    left: 37%;
}
.skills-img:nth-child(2){
    top: 2%;
    right: 22%;
}
.skills-img:nth-child(3){
    top: 55%;
    left: 90%;
}
.skills-img:nth-child(4){
    top: 10%;
    left: 11%;
}
.skills-img:nth-child(5){
    top: 42%;
    left: 91%;
}
.skills-img:nth-child(6){
    top: 54%;
    left: -4%;
}
.skills-img:nth-child(7){
    top: 75%;
    left: 3%;
}
.skills-img:nth-child(8){
    top: 19%;
    left: 87%;
}
.skills-img:nth-child(9){
    top: 30%;
    left: 0%;
}
.skills-img:nth-child(10){
    top: 80%;
    left: 77%;
}
.skills-img:nth-child(11){
    top: 90%;
    left: 50%;
}
.skills-img:nth-child(12){
    top: 87%;
    left: 25%;
}

    
.about .about-text{
   position: relative;
    color: #00cefe;
}
.about-text span{
    display: inline-block;
}
 

@media screen and (max-width: 760px) {
    .intro-txt .name{
        font-size: 60px;
    }
    .social-accounts{
        display: none;
    }
    .about-image,.about-text{
        width: 100%;
    }
    .computer-img{
        width: 170px;
    }
    .about-image{
        background: radial-gradient(260px,#47c74b8c,transparent 50%);
    }
    
}
@media screen and (max-width: 380px) {
    .intro-txt .name{
        font-size: 44px;
        animation: animationTxt 20s ease-in-out infinite;
    }
    
}
